@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.cards {
  padding: 4rem;
  background-color: white
}

h1 {
  text-align: center;
}
.cardsTitle{
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Permanent Marker', cursive;
  border-bottom: 5px black double;
  width: 40%;
}

.cardsContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cardsWrapper {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  justify-content: center;
}

.cardsItems {
  margin-bottom: 24px;
}

.cardsItem {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cardsItemLink {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cardsItemPicWrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.cardsItemPicWrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: rgb(131, 170, 185);
  box-sizing: border-box;
}

.cardsItemImg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: all 0.2s linear;
}

.cardsItemImg:hover {
  transform: scale(1.1);
}

.cardsItemInfo {
  padding: 20px 30px 30px;
}

.cardsItemText {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

.buttonProjects{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin:auto;
}

.sortingButton {
  background-color:rgb(131, 170, 185);
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  margin-bottom: 5px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

.filters{
  display: flex;
  width: 60%;
  margin: auto;

}

@media only screen and (min-width: 1024px) {
  .cardsItems {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cardsItem {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 780px){
  .filters {
    flex-direction: column;
    width: 100%;
  }
  .cardsTitle{
    width: 100%;
  }
}
